Source: udjat-module-sysinfo
Section: unknown
Priority: optional
Maintainer: Perry Werneck <perry.werneck@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, autoconf, automake, pkg-config, gettext, libudjat-dev, libpugixml-dev

Package: libudjatsysinfo
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: libudjatsysinfo (= ${binary:Version}), libudjatsysinfo (= 1.0)
Description: Udjat core library.
 System information library for udjat.

Package: udjat-module-sysinfo
Architecture: any
Section: libs
Depends: ${misc:Depends}, libudjatsysinfo (= ${binary:Version})
Description: libudjat development files.
 System information module for udjat.

Package: libudjatsysinfo-dev
Architecture: any
Provides: libudjatsysinfo-dev (= ${binary:Version})
Section: libdevel
Depends: ${misc:Depends}, pkg-config, libudjatsysinfo (= ${binary:Version})
Description: libudjat development files.
 Development files for udjat system information library

Package: libudjatsysinfo-dbg
Architecture: any
Depends: libudjat (= ${binary:Version})
Description: Debugging symbols for libudjatsysinfo
 This package contains the debugging symbols for libudjatsysinfo.

